In [18]:
import pandas as pd

In [2]:
ls

app/  boot/  etc/   lib/    media/  opt/   root/  sbin/  sys/  usr/
bin/  dev/   home/  lib64/  mnt/    proc/  run/   srv/   tmp/  var/

In [25]:
file = "/app/data/database.csv"

In [26]:
df = pd.read_csv(file)

In [27]:
df.head()

,Unnamed: 0,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
0,0,W,W44X335,W44X335,F,335.0,98.5,44.0,44,NaN,...,108.0,1070.0,3350.0,NaN,3760.0,2640.0,3050.0,965.0,140.0,NaN
1,1,W,W44X290,W44X290,F,290.0,85.4,43.6,43 5/8,NaN,...,107.0,1070.0,3330.0,NaN,3730.0,2620.0,3020.0,965.0,140.0,NaN
2,2,W,W44X262,W44X262,F,262.0,77.2,43.3,43 1/4,NaN,...,106.0,1060.0,3330.0,NaN,3730.0,2590.0,3000.0,965.0,140.0,NaN
3,3,W,W44X230,W44X230,F,230.0,67.8,42.9,42 7/8,NaN,...,105.0,1060.0,3300.0,NaN,3710.0,2590.0,3000.0,965.0,140.0,NaN
4,4,W,W40X655,W40X655,T,655.0,193.0,43.6,43 5/8,NaN,...,120.0,1020.0,3350.0,NaN,3780.0,2640.0,3070.0,864.0,191.0,NaN

In [28]:
hss = df[df["Type"] == "HSS"]
hss.head()

Empty DataFrame
Columns: [Unnamed: 0, Type, EDI_Std_Nomenclature, AISC_Manual_Label, T_F, W, A, d, ddet, Ht, h, OD, bf, bfdet, B, b, ID, tw, twdet, twdet/2, tf, tfdet, t, tnom, tdes, kdes, kdet, k1, x, y, eo, xp, yp, bf/2tf, b/t, b/tdes, h/tw, h/tdes, D/t, Ix, Zx, Sx, rx, Iy, Zy, Sy, ry, Iz, rz, Sz, J, Cw, C, Wno, Sw1, Sw2, Sw3, Qf, Qw, ro, H, tan(?), Iw, zA, zB, zC, wA, wB, wC, SwA, SwB, SwC, SzA, SzB, SzC, rts, ho, PA, PA2, PB, PC, PD, T, WGi, WGo, EDI_Std_Nomenclature.1, AISC_Manual_Label.1, W.1, A.1, d.1, ddet.1, Ht.1, h.1, OD.1, bf.1, bfdet.1, B.1, b.1, ID.1, tw.1, ...]
Index: []

[0 rows x 167 columns]

In [66]:
df.loc[(df["EDI_Std_Nomenclature"].str.count("X") > 1) & (df["Type"] == "HSS"), ["Type"]] = "RECT HSS"

In [67]:
hss = df[df["Type"] == "RECT HSS"]
hss.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
1524,RECT HSS,HSS24X12X.750,HSS24X12X3/4,F,171.16,47.1,NAN,NAN,24.0,21.9,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1525,RECT HSS,HSS24X12X.625,HSS24X12X5/8,F,144.39,39.6,NAN,NAN,24.0,22.3,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1526,RECT HSS,HSS24X12X.500,HSS24X12X1/2,F,116.91,32.1,NAN,NAN,24.0,22.6,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1527,RECT HSS,HSS22X22X.875,HSS22X22X7/8,F,244.88,67.3,NAN,NAN,22.0,19.6,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1528,RECT HSS,HSS22X22X.750,HSS22X22X3/4,F,212.00,58.2,NAN,NAN,22.0,19.9,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [68]:
df.Type == "RECT HSS"

0       False
1       False
2       False
3       False
4       False
        ...
2086    False
2087    False
2088    False
2089    False
2090    False
Name: Type, Length: 2091, dtype: bool

In [69]:
df.loc[(df["EDI_Std_Nomenclature"].str.count("X") == 1) & (df["Type"] == "HSS"), ["Type"]] = "ROUND HSS"

In [70]:
hss = df[df["Type"] == "ROUND HSS"]
hss.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
1912,ROUND HSS,HSS20X.500,HSS20.000X0.500,F,104.00,28.5,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1913,ROUND HSS,HSS20X.375,HSS20.000X0.375,F,78.67,21.5,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1914,ROUND HSS,HSS18X.500,HSS18.000X0.500,F,93.54,25.6,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1915,ROUND HSS,HSS18X.375,HSS18.000X0.375,F,70.66,19.4,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1916,ROUND HSS,HSS16X.625,HSS16.000X0.625,F,103.00,28.1,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [73]:
df.replace(to_replace="NAN", value="NaN", inplace=True)
df.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
0,W,W44X335,W44X335,F,335.0,98.5,44.0,44,NaN,NaN,...,108,1070,3350,NaN,3760,2640,3050,965,140,NaN
1,W,W44X290,W44X290,F,290.0,85.4,43.6,43 5/8,NaN,NaN,...,107,1070,3330,NaN,3730,2620,3020,965,140,NaN
2,W,W44X262,W44X262,F,262.0,77.2,43.3,43 1/4,NaN,NaN,...,106,1060,3330,NaN,3730,2590,3000,965,140,NaN
3,W,W44X230,W44X230,F,230.0,67.8,42.9,42 7/8,NaN,NaN,...,105,1060,3300,NaN,3710,2590,3000,965,140,NaN
4,W,W40X655,W40X655,T,655.0,193.0,43.6,43 5/8,NaN,NaN,...,120,1020,3350,NaN,3780,2640,3070,864,191,NaN

In [75]:
df.to_csv(file, na_rep='NaN')

In [3]:
row_variables = ['$W$ = ', '$A$ = ', '$d$ = ', '$b_f$ = ', '$t_w$ = ', '$t_f$ = ', '$T$ = ', 
                    '$k_{des}$ = ', '$k_1$ = ', '$I_x$ = ', '$Z_x$ = ', '$S_x$ = ', '$r_x$ = ',
                '$I_y$ = ', '$Z_y$ = ', '$S_y$ = ', '$r_y$ = ']

row_values = ['W', 'A', 'd', 'bf', 'tw', 'tf', 'T', 'kdes', 'k1', 'Ix', 'Zx', 'Sx', 'rx', 
                'Iy', 'Zy', 'Sy', 'ry']

In [ ]:

if unit_sys == "US Customary":                
    shape_units = ['lb/ft', 'in$^2$', 'in.', 'in.', 'in.', 'in.', 'in.', 'in.', 'in.',
                    'in$^3$', 'in$^3$', 'in$^3$', 'in.', 'in$^3$', 'in$^3$', 'in$^3$', 'in.']
else:               
    shape_units = ['kg/m', 'mm$^2$', 'mm.', 'mm.', 'mm.', 'mm.', 'mm.', 'mm.', 'mm.',
                    'mm$^3$', 'mm$^3$', 'mm$^3$', 'mm.', 'mm$^3$', 'mm$^3$', 'mm$^3$', 'mm.']

In [4]:
row  = row_variables + row_values
print(row)

['$W$ = ', '$A$ = ', '$d$ = ', '$b_f$ = ', '$t_w$ = ', '$t_f$ = ', '$T$ = ', '$k_{des}$ = ', '$k_1$ = ', '$I_x$ = ', '$Z_x$ = ', '$S_x$ = ', '$r_x$ = ', '$I_y$ = ', '$Z_y$ = ', '$S_y$ = ', '$r_y$ = ', 'W', 'A', 'd', 'bf', 'tw', 'tf', 'T', 'kdes', 'k1', 'Ix', 'Zx', 'Sx', 'rx', 'Iy', 'Zy', 'Sy', 'ry']

In [ ]:
    st.title('CROSS-SECTION')
    st.image(image, use_column_width='always')

    st.title('SECTION PROPERTIES')
    col1, col2, col3 = st.columns(3)
    
    with col1:
        st.header('Variable')
        for row in row_variables:
            st.markdown(row)
            
    with col2:
        st.header('Value')
        for row in row_values:
            st.markdown(df[row].values[0])
            
    with col3:
        st.header('Units')
        for row in shape_units:
            st.markdown(row)

In [5]:
row_labels = ['$W$ = ', '$A$ = ', '$H_t$ = ', '$b_f$ = ', '$t_w$ = ', '$t_f$ = ', '$T$ = ', 
                '$k_{des}$ = ', '$I_x$ = ', '$Z_x$ = ', '$S_x$ = ', '$r_x$ = ',
                '$I_y$ = ', '$Z_y$ = ', '$S_y$ = ', '$r_y$ = ']

row_values = ['W', 'A', 'Ht', 'bf', 'tw', 'tf', 'T', 'kdes', 'Ix', 'Zx', 'Sx', 'rx', 
            'Iy', 'Zy', 'Sy', 'ry']

shape_units = ['lb/ft', 'in$^2$', 'in.', 'in.', 'in.', 'in.', 'in.', 'in.',
                'in$^3$', 'in$^3$', 'in$^3$', 'in.', 'in$^3$', 'in$^3$', 'in$^3$', 'in.']

rows = [[label, value, unit] for label, value, unit in zip(row_labels, row_values, shape_units)]

In [6]:
rows

[['$W$ = ', 'W', 'lb/ft'],
 ['$A$ = ', 'A', 'in$^2$'],
 ['$H_t$ = ', 'Ht', 'in.'],
 ['$b_f$ = ', 'bf', 'in.'],
 ['$t_w$ = ', 'tw', 'in.'],
 ['$t_f$ = ', 'tf', 'in.'],
 ['$T$ = ', 'T', 'in.'],
 ['$k_{des}$ = ', 'kdes', 'in.'],
 ['$I_x$ = ', 'Ix', 'in$^3$'],
 ['$Z_x$ = ', 'Zx', 'in$^3$'],
 ['$S_x$ = ', 'Sx', 'in$^3$'],
 ['$r_x$ = ', 'rx', 'in.'],
 ['$I_y$ = ', 'Iy', 'in$^3$'],
 ['$Z_y$ = ', 'Zy', 'in$^3$'],
 ['$S_y$ = ', 'Sy', 'in$^3$'],
 ['$r_y$ = ', 'ry', 'in.']]

In [13]:
label, variable, unit = rows[0]

In [14]:
label

'$W$ = '

In [16]:
variable

'W'

In [30]:
df[variable].values[0]

335.0